.header_wrapper{
    margin-top: 160px;
    padding: 0;
}
.imageContainer{
    height: 480px;
    width: 100%;
    background:url(./../../assets/landscape-Panorama-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 18px;
    z-index: 1   ;
    position: relative;
    animation:anim_change_img 6s infinite linear alternate;

    display: flex;
    justify-content: start;
    align-items: center;
}
.imageContainer::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0,0, 0);
    z-index: -1;
    border-radius: 18px;
}

@keyframes anim_change_img{
    0%{
        background:url(./../../assets/landscape-Panorama-02.jpg);

    }
    100%{
        background:url(./../../assets/landscape-Panorama-03.jpg);

    }
}
.imageContainer h2{
    font-size: 48px;  
    line-height: 50px;
    color: #fff;
    /* margin-top: 80px; */

}
.swiper{
    width: 80% !important;    
    margin-top: -80px;   
    
}

.DestinationCard {
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
  }
  
.DestinationCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  



